.bumper1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -800px;
    left: 300px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump1 span{
    font-size: 20px;
    
}

.bumper2{
    padding: 20px 27px;
  
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -790px;
    left: 400px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump2 span{
    font-size: 20px;
    
}

.bumper3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -800px;
    left: 500px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump3 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump3 span{
    font-size: 20px;
    
}


.bumper4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -400px;
    right:500px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump4 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump4 span{
    font-size: 20px;
    
}

.bumper5{
    padding: 20px 27px;
  
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -400px;
    right: 30px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump5 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump5 span{
    font-size: 20px;
    
}

.bumper6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -710px;
    left: 670px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;
    

}   

.bump6 img{
   max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump6 span{
    font-size: 20px;
    
}


/* hood */
.hood1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 25px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.hod1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod1 span{
    font-size: 20px;
    
}


.hood2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 145px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.hod2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod2 span{
    font-size: 20px;
    
}

.hood3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 240px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 130px;
}

.hod3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod3 span{
    font-size: 20px;
    
}


.hood4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 50px;
    right: 760px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod4 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.hod4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod4 span{
    font-size: 20px;
    
}


.hood5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -265px;
    left: 670px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.hod5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod5 span{
    font-size: 20px;
    
}

.hood6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -265px;
    left: 765px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.hod6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod6 span{
    font-size: 20px;
    
}


/* light */
.light1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 120px;
    right: 240px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh1 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 140px;
}

.ligh1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh1 span{
    font-size: 20px;
    
}

.light2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 130px;
    right: 110px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh2 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.ligh2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh2 span{
    font-size: 20px;
    
}

.light3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 100px;
    right: 16px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 130px;
}

.ligh3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh3 span{
    font-size: 20px;
    
}


.light4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 250px;
    left: 280px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.ligh4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh4 span{
    font-size: 20px;
    
}


.light5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 250px;
    left: 415px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.ligh5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh5 span{
    font-size: 20px;
    
}

.light6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 250px;
    left: 515px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.ligh6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh6 span{
    font-size: 20px;
    
}


/* spoilers */
.spoiler1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 680px;
    right: 510px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.spoil1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil1 span{
    font-size: 20px;
    
}

.spoiler2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 680px;
    right: 375px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height:130px ;
}

.spoil2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil2 span{
    font-size: 20px;
    
}

.spoiler3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 365px;
    left: 1045px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 135px;
}

.spoil3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil3 span{
    font-size: 20px;
    
}


.spoiler4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 780px;
    left: 15px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.spoil4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil4 span{
    font-size: 20px;
    
}


.spoiler5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 780px;
    left: 520px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.spoil5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil5 span{
    font-size: 20px;
    
}

.spoiler6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 780px;
    right: 110px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.spoil6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil6 span{
    font-size: 20px;
    
}
