.bumper1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -800px;
    left: 300px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump1 span{
    font-size: 20px;
    
}

.bumper2{
    padding: 20px 27px;
  
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -790px;
    left: 400px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump2 span{
    font-size: 20px;
    
}

.bumper3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -800px;
    left: 500px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump3 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump3 span{
    font-size: 20px;
    
}


.bumper4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -400px;
    right:500px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump4 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump4 span{
    font-size: 20px;
    
}

.bumper5{
    padding: 20px 27px;
  
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -400px;
    right: 30px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bump5 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump5 span{
    font-size: 20px;
    
}

.bumper6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -710px;
    left: 670px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;
    

}   

.bump6 img{
   max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.bump6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bump6 span{
    font-size: 20px;
    
}


/* hood */
.hood1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 25px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.hod1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod1 span{
    font-size: 20px;
    
}


.hood2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 145px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.hod2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod2 span{
    font-size: 20px;
    
}

.hood3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 240px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 130px;
}

.hod3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod3 span{
    font-size: 20px;
    
}


.hood4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 50px;
    right: 760px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod4 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.hod4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod4 span{
    font-size: 20px;
    
}


.hood5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -265px;
    left: 670px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.hod5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod5 span{
    font-size: 20px;
    
}

.hood6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -265px;
    left: 765px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.hod6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.hod6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.hod6 span{
    font-size: 20px;
    
}


/* light */
.light1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 120px;
    right: 240px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh1 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 140px;
}

.ligh1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh1 span{
    font-size: 20px;
    
}

.light2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 130px;
    right: 110px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh2 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.ligh2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh2 span{
    font-size: 20px;
    
}

.light3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 100px;
    right: 16px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 130px;
}

.ligh3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh3 span{
    font-size: 20px;
    
}


.light4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 250px;
    left: 280px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.ligh4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh4 span{
    font-size: 20px;
    
}


.light5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 250px;
    left: 415px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.ligh5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh5 span{
    font-size: 20px;
    
}

.light6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 250px;
    left: 515px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.ligh6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.ligh6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.ligh6 span{
    font-size: 20px;
    
}


/* spoilers */
.spoiler1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 680px;
    right: 510px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.spoil1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil1 span{
    font-size: 20px;
    
}

.spoiler2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 680px;
    right: 375px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height:130px ;
}

.spoil2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil2 span{
    font-size: 20px;
    
}

.spoiler3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 365px;
    left: 1045px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 135px;
}

.spoil3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil3 span{
    font-size: 20px;
    
}


.spoiler4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 780px;
    left: 15px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.spoil4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil4 span{
    font-size: 20px;
    
}


.spoiler5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 780px;
    left: 520px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.spoil5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil5 span{
    font-size: 20px;
    
}

.spoiler6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 780px;
    right: 110px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.spoil6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil6 span{
    font-size: 20px;
    
}


/* back bumper */
.bbumper1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1160px;
    right: 767px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bbump1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.bbump1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bbump1 span{
    font-size: 20px;
    
}

.bbumper2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 860px;
    left: 673px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bbump2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    
}

.bbump2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bbump2 span{
    font-size: 20px;
    
}

.bbumper3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 865px;
    left: 780px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bbump3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    
}

.bbump3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bbump3 span{
    font-size: 20px;
    
}


.bbumper4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1280px;
    right: 245px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bbump4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.bbump4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bbump4 span{
    font-size: 20px;
    
}


.bbumper5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1280px;
    right: 108px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bbump5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.bbump5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bbump5 span{
    font-size: 20px;
    
}

.bbumper6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1280px;
    right: 1px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.bbump6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.bbump6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.bbump6 span{
    font-size: 20px;
    
}


/* back light */
.blight1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1380px;
    left: 275px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.blig1 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 140px;
}

.blig1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.blig1 span{
    font-size: 20px;
    
}

.blight2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1380px;
    left: 413px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.blig2 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 140px;
   
}

.blig2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.blig2 span{
    font-size: 20px;
    
}

.blight3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1380px;
    left: 520px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.blig3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 135px;
}

.blig3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.blig3 span{
    font-size: 20px;
    
}


.blight4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1800px;
    right: 505px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.blig4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.blig4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.blig4 span{
    font-size: 20px;
    
}


.blight5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1800px;
    right: 368px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.blig5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.blig5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.blig5 span{
    font-size: 20px;
    
}

.blight6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1487px;
    left: 1042px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.blig6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.blig6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.blig6 span{
    font-size: 20px;
    
}


/* doors */
.doors1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1900px;
    left:16px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.door1 img{
    width: 197px;
    border: 3px solid black;
    border-radius: 7px;
    height: 140px;
}

.door1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.door1 span{
    font-size: 20px;
    
}

.doors2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1900px;
    left: 156px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.door2 img{
    width: 199px;
    border: 3px solid black;
    border-radius: 7px;
    height: 140px;
  
}

.door2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.door2 span{
    font-size: 20px;
    
}

.doors3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1900px;
    left: 265px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.door3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 135px;
}

.door3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.door3 span{
    font-size: 20px;
    
}


.doors4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 2300px;
    right: 761px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.door4 img{
    width: 202px;
    border: 3px solid black;
    border-radius: 7px;
    height: 147px;
}

.door4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.door4 span{
    font-size: 20px;
    
}


/* wheels */

.wheels1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1990px;
    left: 675px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.wheel1 img{
    width: 197px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.wheel1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.wheel1 span{
    font-size: 20px;
    
}

.wheels2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 1990px;
    left: 800px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.wheel2 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height:145px ;
}

.wheel2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.wheel2 span{
    font-size: 20px;
    
}

.wheels3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 2400px;
    right: 240px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.wheel3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
    
}

.wheel3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.wheel3 span{
    font-size: 20px;
    
}


.wheels4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top:2400px;
    right: 105px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.wheel4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.wheel4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.wheel4 span{
    font-size: 20px;
    
}


/* streeting wheel */

.stwhels1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 2400px;
    right: 0px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.stwhel1 img{
   width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.stwhel1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.stwhel1 span{
    font-size: 20px;
    
}

.stwhels2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 2500px;
    left: 280px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.stwhel2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    
}

.stwhel2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.stwhel2 span{
    font-size: 20px;
    
}

.stwhels3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 2500px;
    left: 415px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.stwhel3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 152px;
}

.stwhel3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.stwhel3 span{
    font-size: 20px;
    
}


.stwhels4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 2500px;
    left: 517px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.stwhel4 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.stwhel4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.stwhel4 span{
    font-size: 20px;
    
}
