.spoiler1{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 25px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil1 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.spoil1 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil1 span{
    font-size: 20px;
    
}

.spoiler2{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 320px;
    left: 145px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil2 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
}

.spoil2 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil2 span{
    font-size: 20px;
    
}

.spoiler3{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -320px;
    left: 240px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil3 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 130px;
}

.spoil3 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil3 span{
    font-size: 20px;
    
}


.spoiler4{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: 90px;
    right: 770px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil4 img{
    max-width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.spoil4 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil4 span{
    font-size: 20px;
    
}


.spoiler5{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -220px;
    left: 670px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil5 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}

.spoil5 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil5 span{
    font-size: 20px;
    
}

.spoiler6{
    padding: 30px 25px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    top: -220px;
    left: 765px;
    background-color: rgb(220, 219, 215);
    border-radius: 10px;

}   

.spoil6 img{
    width: 200px;
    border: 3px solid black;
    border-radius: 7px;
    height: 150px;
}


.spoil6 button{
    position: relative;
    padding: 7px 19px;
    position: relative;
    left: 100px;
    border-radius: 5px;
    background-color: rgb(164, 238, 172);
}
.spoil6 span{
    font-size: 20px;
    
}
